{{define "diagram"}}<div class="block block-diagram">
  {{if .Title}}<div class="block-header"><span class="block-kind">diagram</span><span class="block-title">{{.Title}}</span></div>{{end}}
  <div class="diagram-flow diagram-{{.Dir}}">{{.SVG}}</div>
</div>{{end}}
